/* @reference: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
@import url(https://fonts.googleapis.com/css?family=Inter);

@font-face
    font-family 'JetBrains Mono'
    src url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype')
    font-weight normal
    font-style normal

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button, input
  font-weight inherit
  font-style inherit
  font-family inherit
  font-size: 100%
  line-height: 128.7%;
  letter-spacing: -0.007em;
  font-feature-settings: 'zero' on;
  vertical-align baseline
  margin 0
  padding 0
  box-sizing border-box

h1
  color var(--color-text-strong)
  font-weight 800
  font-size 90px
  line-height 112%
  letter-spacing -0.055em

h2
  color: var(--color-text-strong)
  font-weight: bold
  font-size: 51px
  line-height: 121.6%
  letter-spacing: -0.043em;

h3
  color: var(--color-text-strong)
  font-weight: bold
  font-size: 38px
  line-height: 124.7%
  letter-spacing: -0.027em

h4
  color: var(--color-text-strong)
  font-weight: bold
  font-size: 28px
  line-height: 127%
  letter-spacing: -0.016em

h5
  color: var(--color-text-strong)
  font-weight: bold
  font-size: 21px
  line-height: 128.7%


@media screen and (min-width: 481px) and (max-width: 1024px)
  h1
    font-size 51px
    line-height 124.7%
    letter-spacing -0.027em
  
  h2
    font-size 38px
    line-height 124.7%
    letter-spacing -0.027em

  h4
    font-weight: bold
    font-size: 21px
    line-height: 128.7%
    letter-spacing: -0.007em

@media screen and (max-width: 480px)
  h1
    font-size 38px
    line-height 124.7%
    letter-spacing -0.027em

  h2
    font-weight bold
    font-size 28px
    line-height 127%
    letter-spacing: -0.016em;

  h3
    font-weight bold
    font-size 28px
    line-height 127%
    letter-spacing: -0.016em;

  h4
    font-weight: bold
    font-size: 21px
    line-height: 128.7%
    letter-spacing: -0.007em

  h5
    font-weight bold
    font-size 21px
    line-height 128.7%
    letter-spacing: -0.007em;


a[href]
  color inherit
  text-decoration initial

html
  scrollbar-color var(--background-color-primary) var(--background-color-secondary)

body
  margin 0
  font-style: normal;
  font-size: 16px;
  font-weight 400
  font-family "Inter"
  -webkit-font-smoothing antialiased
  color var(--color-text, black)
  text-rendering optimizeLegibility
  background-color var(--background-color-primary)

:root
  --background-color-primary: white
  --background-color-secondary: #F8F9FC
  --sidebar-width 19rem
  --aside-width 280px
  --topbar-height 100px
  --color-text #000000D1
  --color-text-strong #000000
  --color-link #5064FB
  --color-primary #5064FB
  --color-secondary #C01AEA
  --color-danger #CC0025
  --color-code inherit
  --sidebar-bg #fff
  --sidebar-footer-height 100px
  --layout-width 1540px
  --element-size: 5rem
  --semi-transparent-color: rgba(0,0,0,0.18)
  --semi-transparent-color-2: #00000054
  --semi-transparent-color-3: #00000080
  --img-filter: brightness(0)
  --color-light-gray #333333
  --content-max-width 1440px

:root.dark-theme
  --background-color-primary: #000000
  --background-color-secondary: #171717
  --sidebar-width 19rem
  --aside-width 280px
  --topbar-height 100px
  --color-text #FFFFFFD1
  --color-text-strong #FFFFFF
  --color-link #4251FA
  --color-primary #4251FA
  --color-secondary #C01AEA
  --color-danger #CC0025
  --color-code inherit
  --sidebar-bg #000000
  --sidebar-footer-height 100px
  --layout-width 1540px
  --semi-transparent-color: rgba(255,255,255,0.18)
  --semi-transparent-color-2: #FFFFFF54
  --semi-transparent-color-3: #FFFFFF80
  --img-filter: brightness(0) invert(1)
  --content-max-width 1440px


code
  -webkit-font-feature-settings "liga" on, "calt" on
  font-family "JetBrains Mono","Menlo","Monaco","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace

select
  font-size inherit
  font-family inherit

[hide]
  display none

.overline-label
  font-weight: 500;
  font-size: 13px;
  line-height: 130.7%;
  letter-spacing: 0.08em;
  text-transform: uppercase;

.info-label
  font-size: 13px;
  line-height: 130.7%;
  letter-spacing: 0.005em;
  color: var(--semi-transparent-color-3)
