# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Docs 
*.md @citmc @cmwaters @nooomski @xavierlepretre @coldice 

# Primary repo maintainers
* @coldice @xavierlepretre @gioelebonifetto @8bitpal 
