# OS
.DS_Store
*.swp
*.swo
.vscode
.idea

# Build
vendor
.vendor-new
build
node_modules/
yarn-error.log
.vuepress/dist
.cache/
.build/
dist/

# IDE
.idea/
*.iml

# vscode 
*.code-workspace 

.vuepress/public/resized-images