name: Bypass samples build check
on: 
  pull_request:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.0.2
    - name: Test Build
      run: |
        echo Bypass samples build check